.comments{
  margin-top: 1rem;
}

.pin-title{
  font-weight: var(--font-weight-600);
  color: var(--g-colorGray300);
  font-size: var(--font-size-1_75rem);
}

.pin-info > :not(:last-child){
  margin-bottom: 1rem;
}

.pin-info-user{
  padding: 2rem 2rem 0 2rem;
}

.container-comments{
  flex: none;
  height: 100%;
  width: 500px;
  position: relative;
  background-color: var(--g-colorGray0);
  overflow: hidden;
}

@media (max-width: 1400px) {
  .pin-info-user{
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .container-comments{
    width: 450px;
  }
}
@media (max-width: 1300px) {
  .container-comments{
    width: 400px;
  }
}
