.main{
  margin: 6rem auto 2rem;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.pin-default-container{
  width: 1050px;
  box-shadow: var(--box-shadow_07);
  border-radius: 2rem;
  /* overflow: hidden; */
  display: flex;
  min-height: 500px;
  justify-content: space-between;
}
.pin-default-container.pin-alternative-container{
  width: 800px;
  flex-direction: column;
}

.save-and-comments{
  width: 100%;
  padding: 2rem 2rem 1.2rem 2rem;
  position: relative;
  z-index: 2;
}
.pin-info > :not(:last-child){
  margin-bottom: 1rem;
}

.pin-title{
  font-weight: var(--font-weight-600);
  color: var(--g-colorGray300);
  font-size: var(--font-size-1_75rem);
}

.comments{
  margin-top: 1rem;
}

.more-similar{
  margin-top: 2rem;
}
.more-similar > h2{
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-1_25rem);
  text-align: center;
}
.results-search-tag{
  margin-top: 1.5rem;
}
