.main{
  margin: 6rem auto 2rem;
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.pin-default-container{
  width: 1050px;
  box-shadow: var(--box-shadow_07);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  min-height: 500px;
  justify-content: space-between;
}
.pin-default-container.pin-alternative-container{
  width: 800px;
  flex-direction: column;
}

.save-and-comments{
  width: 100%;
  margin: 2rem 2rem 1.2rem 2rem;
  position: relative;
}
.pin-info > :not(:last-child){
  margin-bottom: 14px;
}

.pin-title{
  font-weight: var(--font-weight-600);
  color: var(--g-colorGray300);
  font-size: var(--font-size-1_75rem);
}

.comments{
  margin-top: 1rem;
}

.add-comments{
  position: absolute;
  bottom: 0;
  background-color: var(--g-colorGray0);
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--g-colorBgRgb-229);
}
.comments-count{
  font-size: var(--font-size-1_25rem);
  font-weight: var(--font-weight-600);
  color: var(--g-colorGray300);
  margin-bottom: 1rem;
}

