.main{
  margin: 6rem auto 2rem;
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.pin-default-container{
  width: 1050px;
  box-shadow: var(--box-shadow_07);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  min-height: 500px;
  justify-content: space-between;
}
.pin-default-container.pin-alternative-container{
  width: 800px;
  flex-direction: column;
}

.save-and-comments{
  width: 100%;
  margin: 2.5rem 2rem 2rem 2.5rem;
}
