@keyframes animationCategory {
  0% {
    scale: 0.95;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

.container{
  margin-top: 2rem;
}

.publishs-or-saves{
  margin-top: 1.5rem;
}

.none-results{
  color: var(--g-colorGray300);
  text-align: center;
}

.btns-publishs-or-saves{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-options{
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
}

.container-manage-more-options{
  z-index: 4;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 1rem;
}
.container-midiatype-options{
  z-index: 4;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.btn-manage-more-options, .btn-manage-midiatype-options{
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 150ms ease-in-out;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.btn-manage-more-options[data-click='true'], .btn-manage-midiatype-options[data-click='true']{
  animation-name: animationCategory;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.btn-manage-more-options[data-user-options-active='false']:hover, .btn-manage-midiatype-options[data-user-midiatype-options-active='false']:hover{
  background-color: var(--g-colore9e9e9);
}
.btn-manage-more-options[data-user-options-active='true'], .btn-manage-midiatype-options[data-user-midiatype-options-active='true']{
  background-color: var(--g-colorGray400);
}

.btn-manage-more-options svg, .btn-manage-midiatype-options svg{
  flex: none;
  transition: fill 150ms ease-in-out;
}
.btn-manage-more-options svg[data-user-options-active='true'], .btn-manage-midiatype-options svg[data-user-midiatype-options-active='true']{
  fill: var(--g-colorGray0);
}

.btns-publishs-or-saves > .btn-manage{
  background-color: transparent;
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-500);
  color: var(--g-colorGray300);
  cursor: pointer;
  transition: background 150ms ease-in-out;
  border-radius: 10px;
  padding: 8px;
  min-height: 37px;
  position: relative;
}
.btns-publishs-or-saves > .btn-manage:first-child{
  margin-right: 1rem;
}
.btns-publishs-or-saves > .btn-manage[data-active-btn='true']::before{
  content: '';
  width: 80%;
  height: 3.5px;
  border-radius: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: var(--g-colorGray300);
}
.btns-publishs-or-saves > .btn-manage[data-active-btn='false']:hover{
  background-color: var(--g-colore9e9e9);
}

.user-options-pin, .user-midiatype-options{
  visibility: hidden;
  opacity: 0;
  width: 180px;
  background-color: var(--g-colorGray0);
  border-radius: 1rem;
  position: absolute;
  top: 3.2rem;
  padding: 8px 10px;
  left: 0;
  box-shadow: var(--box-shadow_04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}
.user-options-pin[data-user-options-active='true'], .user-midiatype-options[data-user-midiatype-options-active='true'] {
  visibility: visible;
  opacity: 1;
}
/* .user-options-pin > :not(:last-child) {
  margin-bottom: 5px;
} */
.user-options-pin > button, .user-midiatype-options > button {
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-500);
  padding: 8px;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  transition: background 200ms ease-in-out;
}
.user-options-pin > button:hover, .user-midiatype-options > button:hover{
  background-color: var(--g-colore9e9e9);
  cursor: pointer;
}

.btn-user-save-pin{
  color: var(--g-colorGray400);
}
.btn-user-delete-pin{
  color: var(--g-colorRed0);
}

.user-midiatype-options :not(:last-child){
  margin-bottom: 5px;
}

.btn-midiatype-option{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-midiatype-option[data-btn-midiatype-active='true']{
  background-color: var(--g-colore9e9e9);
}
