.main{
 background-color: var(--g-colore9e9e9);
 min-height: 100vh;
 width: 100%;
 position: absolute;
}

.container-publish{
  margin: 7.5rem auto 3rem;
  max-width: 1000px;
  background-color: var(--g-colorGray0);
  border-radius: 1rem;
  padding: 2.5rem;
}

.container-user{
  display: flex;
  align-items: center;
}
.user-avatar{
 width: 48px;
 height: 48px;
 margin-right: 10px;
 border-radius: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--g-colore9e9e9);
 font-size: var(--font-size-1rem);
 font-weight: var(--font-weight-500);
 color: var(--g-colorGray400);
}
.container-user > h3{
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-500);
  color: var(--g-colorGray400);
}
