.main{
 background-color: var(--g-colore9e9e9);
 min-height: 100vh;
 width: 100%;
 position: absolute;
}
.main[search-in-focus='true']::before{
  content: '';
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--g-colorTransparentGray800);
}

.container-publish{
  margin: 7.5rem auto 3rem;
  max-width: 1000px;
  background-color: var(--g-colorGray0);
  border-radius: 1rem;
  padding: 2.5rem;
}

.container-user{
  display: flex;
  align-items: center;
}
.user-avatar{
 margin-right: 10px;
 cursor: pointer;
}
.user-avatar a{
  font-size: var(--font-size-1rem) !important;
  font-weight: var(--font-weight-500) !important;
  color: var(--g-colorGray400) !important;
}
.container-user > h3{
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-500);
  color: var(--g-colorGray400);
}
