.nav{
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  width: 100%;
}
.nav > :first-child{
  margin-right: 1rem;
}
.link-active{
  background-color: var(--g-colorGray400);
  color: var(--g-colorGray0) !important;
}
.nav > a{
  white-space: nowrap;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--g-colorGray400);
  padding: 0 1rem;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-1rem);
  transition: background 200ms ease-in-out;
}

.nav > a:not(.link-active):hover{
  background-color: var(--g-colorTransparentGray60);
}

.links-no-auth{
  display: flex;
  align-items: center;
}
.links-no-auth :not(:last-child){
  margin-right: 1rem;
}
.links-no-auth > a{
  padding: 8px 12px;
  font-size: var(--font-size-1rem);
  font-weight: var(--font-weight-500);
  width: 120px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}

.login{
  background-color: var(--g-colorRed100);
  color: var( --g-colorGray0);
}
.login:hover{
  background-color: var(--g-colorRed100Hovered);
}

.create-account{
  color: var(--g-colorGray300);
  background-color: var(--g-colorGray100);
}
.create-account:hover{
  background-color: var(--g-colorGray100Hovered);
}

